@import 'normalize.css';
@import 'page.scss';

$module: MainLayout;

.$module {
  height: 100%;


  &__header {}

  &__content {
    min-height: 100%;
    margin: -50px 0;
    padding: 60px 10px;
    box-sizing: border-box;
  }

  &__footer {}
}
